
body {
  min-height: 100vh;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Add general background colors and font styles */

.header,
.hero,
.footer {
  background-color: #1f2937;
}

/* Hero Main text ("this website is awesome") */
h1 {
  font-size: 48px;
  color: #f9faf8;
}

/* Hero Secondary text, Header link Text */
.hero p,
.hero img,
a {
  font-size: 18px;
  color: #e5e7eb;
}

/* Header Logo Text */
h3 {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

/* Button color, call to action background color */
.signup,
button {
  background-color: #3882f6;
}

/* Quote section background color and text */
.quote {
  background-color: #e5e7eb;
}

.quote h2 {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

/* Footer text color */
.footer {
  color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 20px 30px;
}

a {
  text-decoration: none;
  padding: 8px;
}

.hero h3 {
  flex: 1;
}

.hero ul {
  display: flex;
  flex: 1;
}

/* Hero */
.hero {
  display: flex;
  padding: 20px 30px 20px 30px;
}

.hero-main {
  flex: 1;
  align-self: flex-start;
}

.hero img {
  background-color: #6D747D;
  flex: 1;
}

/* Information */
.info-content {
  display: flex;
}

/* Signup */
.signup {
  display: flex;
  margin: 20px 30px 20px 30px;;
}

.action {
  flex: 1;
}

.signup-button {
  flex: 1;
}